# Third party keys
OPENAI_API_KEY='<PUT-YOUR-API-KEY-HERE>'


# Langsmith keys
LANGSMITH_API_KEY='<PUT-YOUR-API-KEY-HERE>'
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
# LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com  # For EU instance
LANGSMITH_PROJECT=ai-parking-space-reservation